{% extends "modelo.html" %}
{% block conteudo %}

<div id="sobre">

<img src="{{ url_for('static', filename= 'download.jpeg') }}" id="img_principal">

</div>

<table class="table table-striped table-responsive table-bordered">
  <thead class="thead-default">
      <tr>
      <th scope="col" COLSPAN="3"><h1>Equipe:</h1></th>

    </tr>
    <tr>
      <th scope="col">Joab Pereira da Silva Junior</th>
      <th scope="col">Estudante de S.I.</th>
      <th scope="col">20 anos</th>
    </tr>
      <tr>
      <th scope="col">Rodrigo Filho</th>
      <th scope="col">Estudante de S.I.</th>
      <th scope="col">17 anos</th>
     </tr>
      <tr>
      <th scope="col">Rodrigo Almeida</th>
      <th scope="col">Representante Comercial</th>
      <th scope="col">44 anos</th>
    </tr>
      <tr>
      <th scope="col">João Victor Gusmão</th>
      <th scope="col">Estudante de S.I.</th>
      <th scope="col">20 anos</th>
    </tr>
  </thead>


  </tbody>
</table>

{% endblock %}